PORT=5000

# Kết nối SQL Server
DB_USER=sa
DB_PASSWORD=your_password_here
DB_SERVER=your_server_name_here
DB_DATABASE=WhereWeSport
DB_PORT=1433

# JWT
JWT_SECRET=your_super_secret_key_here
JWT_EXPIRES=2h

# Để lấy MAIL_PASS cho Gmail, bạn cần vào "Bảo mật" trong tài khoản Google, bật "Xác minh 2 bước", rồi tạo một "Mật khẩu ứng dụng".
# Cấu hình email (ví dụ Gmail)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=your_email@gmail.com
MAIL_PASS=your_gmail_app_password_here

# VNPAY CONFIG - Lấy từ portal.vnpayment.vn
VNP_TMN_CODE=your_merchant_code
VNP_HASH_SECRET=your_hash_secret
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_API=https://sandbox.vnpayment.vn/merchant_webapi/api/transaction
VNP_RETURN_URL=https://your-domain.com/api/payment/vnpay_return

# ZALOPAY SANDBOX CONFIG - Lấy từ developers.zalopay.vn
ZALO_APP_ID=554
ZALO_KEY1=your_key1_here
ZALO_KEY2=your_key2_here
ZALO_ENDPOINT=https://sb-openapi.zalopay.vn/v2/create
